<div class="background-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= image_url("willy1.jpg") %>"">
<div class="navbar-wagon hidden-xs hidden-sm">
  <!-- Right Navigation -->
    <%= link_to "Home", root_path %>
    <%= link_to "Jour J", la_journee_path %>
    <%= link_to "Hôtels", les_hotels_path %>
    <%= link_to "RSVP", rsvp_path %>
    <%= link_to "La Liste", liste_mariage_path %>
  </div>
  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "La journée", la_journee_path %></li>
        <li><%= link_to "Les hôtels", les_hotels_path %></li>
        <li><%= link_to "RSVP", rsvp_path %></li>
        <li><%= link_to "Liste de mariage", liste_mariage_path %></li>
      </ul>
    </div>
  </div>
<div class="container">
  <div class="home text-center">
<h1>Ottilie & Yves</h1>
<p>Samedi 8 Septembre 2018</p>
  </div>
</div>
</div>
</div>







